<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar" class="header navbar-fixed-top" style="background-color: #00308f">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion flex" id="accordionSidebar" style="height:auto;">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="../index">
                <div>
                    <img th:src="@{/bootstrap/img/logo.png}" width="50" height="50">
                </div>
                <div class="sidebar-brand-text mx-3">Zip Zero</div>
            </a>

            <!-- Nav Item - Dashboard -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li> -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                직원
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/payment/regist">
                    <i class="fas fa-fw fa-code"></i>
                    <span>청구 신청</span></a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/payment/userlist">
                    <i class="fas fa-fw fa-cloud-meatball"></i>
                    <span>나의 신청현황 조회</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                관리자
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/payment/adminmanage">
                    <i class="fas fa-fw fa-clone"></i>
                    <span>신청 관리</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/payment/adminlist">
                    <i class="fas fa-fw fa-table"></i>
                    <span>조회 및 출력</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/payment/chart">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>통계 조회</span></a>
            </li>
        </ul>
    </div>
</html>  