<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<body id="page-top">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 신청관리 게시판 -->
            <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
            <p class="mb-4">최신 상태 확인하셈</p>

            <div class="card shadow" style="margin-bottom: 50px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">신청관리(최신순 최대 5개 출력)</h6>
                    <a href="#"> 더보기 </a>
                </div>
                <!-- Card Body -->

                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <table class="table my-0 " id="dataTable" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th width="100">번호</th>
                                    <th width="10">분류</th>
                                    <th width="500">제목</th>
                                    <th width="10">상태</th>
                                    <th width="50">날짜</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>법인</td>
                                    <td>Seoul rain ttt</td>
                                    <td>완료</td>
                                    <td>2008/11/28</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>법인</td>
                                    <td>Tokyo</td>
                                    <td>반려</td>
                                    <td>2008/11/28</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <hr style="margin-bottom: 50px;">

            <div class="card shadow" style="margin-bottom: 50px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="background-color: #00308f;">
                    <h6 class="m-0 font-weight-bold" style="color: #fff;">청구신청(최신순 최대 5개 출력)</h6>
                    <a style="color: #fff;" href="#"> 더보기 </a>
                </div>
                <!-- Card Body -->

                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <table class="table my-0 " id="dataTable" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th width="100">번호</th>
                                    <th width="10">분류</th>
                                    <th width="500">제목</th>
                                    <th width="10">상태</th>
                                    <th width="50">날짜</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>법인</td>
                                    <td>Seoul rain ttt</td>
                                    <td>완료</td>
                                    <td>2008/11/28</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>법인</td>
                                    <td>Tokyo</td>
                                    <td>반려</td>
                                    <td>2008/11/28</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="card shadow" style="margin-bottom: 50px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">로그인</h6>
                </div>
                <!-- Card Body -->

                <div class="card-body" style="text-align: center;" >
                    <div class="form-group row" style="width: 100%;">
                        <label class="col-lg-5 col-form-label form-control-label">사번</label>
                        <div class="col-lg-6">
                            <input class="form-control" type="text" name="pid"/>
                        </div>
                    </div>
                    <div class="form-group row" style="width: 100%;">
                        <label class="col-lg-5 col-form-label form-control-label">비밀번호</label>
                        <div class="col-lg-6">
                            <input class="form-control" type="text" name="password"/>
                        </div>
                    </div>

                    <div style="margin: auto;display: flex; justify-content: center; margin-top: 20px;">
                        
                        <input class="btn btn-primary" type="submit" role="button" value="로그인"
                            style="width: 200px; margin:20px;">
                    </div>
                </div>

            </div>
        </div>

    </th:block>


</body>

</html>