<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<body id="page-top">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 신청관리 게시판 -->
            <h1 class="h3 mb-2 text-gray-800">관리자 상세 페이지</h1>
            <p class="mb-4">영수증 신청 관리</p>

            <!-- 신청관리 게시판 -->
            <div class="card shadow" style="margin-bottom: 50px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">신청 관리하기</h6>
                </div>
                <!-- Card Body -->

                <div class="card-body">
                    <p style="font-size : 13px ;">게시물을 확인하고 승인하세요</p>
                    <hr style="padding:3px">

                </div>

                <tr th:each="comment : ${comments}">
                    <td th:text="${comment.ccontent}"></td>
                    <td th:text="${comment.cmoddate}"></td>
                    
                </tr>
        
            </div>

        </div>

        <button type="button" class ="btn btn-primary registerBtn">반려 사유 등록</button>



    
    <div class="modal registerModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">반려 사유 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">반려 사유</span>
                        <input type="text" class="form-control replyText" name="ccontent">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input type="text" class="form-control replyer" name="mid">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveBtn">저장</button>
                    <button type="button" class="btn btn-outline-dark closeRegisterBtn" >닫기</button>
                </div>
            </div>
        </div>
    </div>

    <!--* <h1>[[${comments[0].pid}]]</h1> *-->

    </th:block>


    <script layout:fragment="scriptFragment" >

        console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA")
    
        //댓글 등록 모달
        const registerModal = new bootstrap.Modal(document.querySelector(".registerModal"))
        //registerModel
        const registerBtn = document.querySelector(".registerBtn")
        const replyText = document.querySelector(".replyText")
        const replyer = document.querySelector(".replyer")
        const closeRegisterBtn = document.querySelector(".closeRegisterBtn")
    
        document.querySelector(".registerBtn").addEventListener("click",() => {
    
            registerModal.show()

            $('input[name="ccontent"]').val('')
            $('input[name="mid"]').val('')

            $(".modal-footer .btn").hide()
            $(".saveBtn, .closeRegisterBtn").show()

    
        },false);

        closeRegisterBtn.addEventListener("click", function (e){
            registerModal.hide()
        },false)

        //pid 이렇게 가져오는 게 맞는지
        const pid = '[[${comments[0].pid}]]'

        document.querySelector(".saveBtn").addEventListener("click",() => {

            //console.log("-------------------------------")
            //co/nsole.log(document.querySelector('.replyText').value)

            const reply = {
                pid: pid,
                ccontent: document.querySelector('.replyText').value,
                mid: document.querySelector('.replyer').value
            }
            console.log(reply)
            console.log("hi")
            




            $.ajax({
                url: '/comments/'+pid,
                method: 'post',
                data: JSON.stringify(reply),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(data){
                    console.log(data)

                    const newCid = parseInt(data)

                    alert("댓글이 등록되었습니다.")
                    registerModal.hide()
                    // loadJSONData()
                }
            })


        },false);
    </script>
    

</body>

</html>