<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/payment/modifyresult}" th:object="${paymentDTO}" method="post"> <!-- url, 전달할 변수 -->
        <input type="text" name="pid" th:value="${payment.pid}"/>
        <input type="text" name="pname" th:value="${payment.pname}"/>
        <input type="datetime-local" name="ptime" th:value="${payment.ptime}"/>
        <input type="hidden" name="pregdate" th:value="${payment.pregdate}"/>
        <input type="text" name="pstorename" th:value="${payment.pstorename}"/>
        <input type="text" name="ptotalprice" th:value="${payment.ptotalprice}"/>
        <input type="text" name="pcardtype" th:value="${payment.pcardtype}"/>
        <input type="text" name="preceipt" th:value="${payment.preceipt}"/>
        <input type="text" name="pcurstate" th:value="${payment.pcurstate}"/>
        <input type="text" name="pfinstate" th:value="${payment.pfinstate}"/>
        <input type="text" name="ptypecode" th:value="${payment.ptypecode}"/>
        <input type="submit" value="수정"/>
    </form>
    <form th:action="@{/payment/userdetail}" th:object="${paymentDTO}">
        <input type="hidden" name="pid" th:value="${payment.pid}"/>
        <input type="submit" value="돌아가기"/>
    </form>
</body>
</html>