<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<body id="page-top">

    <th:block layout:fragment="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- 신청관리 게시판 -->
            <h1 class="h3 mb-2 text-gray-800">상세 페이지</h1>
            <p class="mb-4">영수증 신청 관리</p>

            <!-- 신청관리 게시판 -->
            <div class="card shadow" style="margin-bottom: 50px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">신청 관리하기</h6>
                </div>
                <!-- Card Body -->
                <h1>[[${payment.pid}]]</h1>
                <h1>[[${payment.pname}]]</h1>
                <h1>[[${payment.ptime}]]</h1>
                <h1>[[${payment.pregdate}]]</h1>
                <h1>[[${payment.pmoddate}]]</h1>
                <h1>[[${payment.pstorename}]]</h1>
                <h1>[[${payment.ptotalprice}]]</h1>
                <h1>[[${payment.pcardtype}]]</h1>
                <h1>[[${payment.preceipt}]]</h1>
                <h1>[[${payment.pcurstate}]]</h1>
                <h1>[[${payment.pfinstate}]]</h1>
                <div class="card-body">
                    <p style="font-size : 13px ;">게시물을 확인하고 승인하세요</p>
                    <hr style="padding:3px">

                </div>
            </div>

        </div>
    </th:block>
</body>

</html>