<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.zipzero.member.mapper.MemberMapper">


    <select id="getMemberById" resultType="com.ktds.zipzero.member.dto.MemberDTO">
        select 
            m_id AS mid,
            m_pw AS mpw,
            m_name AS mname,
            m_check AS mcheck,
            auth_id AS aid,
            hq_id AS hqid,
            dept_id AS did,
            team_id AS tid
        from tbl_member where m_id=#{mid}
    </select>

</mapper>